Package: com.theo78825.smoothmitsuha
Name: Smooth Mitsuha
Depends: mobilesubstrate
Version: 0.0.1
Architecture: iphoneos-arm
Description: Calms the Mitsuha waves and smooths them out a bit. 
Maintainer: theo78825
Author: theo78825
Section: Tweaks
